@font-face {
    font-family: Montserrat-Regular;
    src: url('../../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Avenir LT Std 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 55 Roman'), url('../../assets/fonts/avenir/AvenirLTStd-Roman.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 55 Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 55 Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-Oblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 35 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Light'), url('../../assets/fonts/avenir/AvenirLTStd-Light.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 35 Light Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Light Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-LightOblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 45 Book';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 45 Book'), url('../../assets/fonts/avenir/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 45 Book Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 45 Book Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-BookOblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 65 Medium'), url('../../assets/fonts/avenir/AvenirLTStd-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 65 Medium Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 65 Medium Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-MediumOblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 85 Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy'), url('../../assets/fonts/avenir/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 85 Heavy Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-HeavyOblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 95 Black';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 95 Black'), url('../../assets/fonts/avenir/AvenirLTStd-Black.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 95 Black Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 95 Black Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-BlackOblique.woff') format('woff');
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Avenir LT Std 55 Roman';
}
.login_input,.input-email,.form-input,select,textarea,button,.form-control,.input-field:focus,.input-field:active {
    outline:0px !important;
    -webkit-appearance:none!important;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}
a{
    text-decoration: none;
}
a:hover, a:focus, a:active{
    text-decoration: none;
}
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes bounce-1 {
    0%   { transform: translateX(0); }
    50%  { transform: translatex(-10px); }
    100% { transform: translateX(0); }
}
.splash-screen{
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*background: url("../../assets/images/lcc-logo2.png") bottom right no-repeat;*/
    /*background-size: 200px 200px;*/
}
.splash-screen img{
    width: 100px;
}
.login-screen{
    /*opacity: 0.8;*/
    /*background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, #000000 76%);*/
    background:linear-gradient(180deg,rgba(0,0,0,0.7)0%,rgba(0,0,0,0.8)),url(../../assets/images/lekki-toll-gate2.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.login-txt p{
    font-family: Montserrat-ExtraLight;
    font-size: 23px;
    color: #FFFFFF;
    text-align: center;
    line-height: 34px;
}
.bold-txt {
    font-family: Montserrat-Bold;
    font-size: 23px;
    color: #FFFFFF;
    text-align: center;
    line-height: 34px;
}
.login-box{
    margin: 0 40px;
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 20px;
}
.email_label{
    padding: 0 10px;
    margin: 1rem;
    /*border-bottom: 1px solid #979797;*/
}
.email_label2{
    padding: 0 10px;
    margin: 1rem;
}
.email_label3{
    padding: 0 10px 40px;
    margin: 1rem;
}
.label-email{
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: #0F83D1;
    letter-spacing: 1px;
}
.label-email2{
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: #0F83D1;
    letter-spacing: 1px;
    padding-bottom: 40px;
}
.login_input{
    width: 100%;
    border: none;
    background: none;
    opacity: 0.5;
    font-family: Montserrat-Regular;
    font-size: 16px;
    color: #585858;
    letter-spacing: 0;
    padding: 5px 0;
    border-bottom: 1px solid #979797;
}
.login_input::placeholder {
    color: #585858;
}
.login_input:active, .login_input:focus{
    border-bottom: 2px solid #0F83D1;
}
.login-btn{
    background: #0091EA;
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    width: 100%;
    border-radius: 0 0 20px 20px;
}
.new_here p{
    font-family: Montserrat-Regular;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.create_account_now{
    font-family: Montserrat-ExtraBold;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.landing-page{
    width: 100%;
    height: 100vh;
    /*background: url(../../assets/images/bg_city.png) center bottom no-repeat;*/
    background: linear-gradient(-45deg,
    rgba(232, 79, 30, 0.9) 0%,
    rgba(232, 79, 30, 0.9) 10%,
    rgba(232, 79, 30, 0.9) 20%,
    rgba(25, 105, 205, 0.9) 25%,
    rgba(25, 105, 205, 0.9) 50%,
    rgba(25, 105, 205, 0.9) 75%,
    rgba(25, 105, 205, 0.9) 100%);
}
.payment-btn{
    background: #E84F1E;
    font-family: Montserrat-Bold;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}